<body class="login-body">
    <div class="body-container">
        <div class="ui-g">
            <div class="ui-g-12 ui-lg-6 left-side">
                <img src="../../../../assets/layout/images/Logo_Cucorent.svg" alt="apollo-layout" class="logo" />
                <h1>Bienvenido</h1>
                <p>
                  Por Favor Ingrese Sus Credenciales Para Continuar 
                </p>
            </div>
            <div class="ui-g-12 ui-lg-6 right-side">
                <div class="login-wrapper">
                    <div class="login-container">
                        <span class="title">Login</span>

                        <form (ngSubmit)="onSubmit(f)" #f="ngForm"  class="ui-g ui-fluid">
                          <div class="ui-g-12">
                            <input required name="username" type="text" ngModel autocomplete="off" placeholder="Usuario" class="ui-inputtext ui-widget"/>
                          </div>
                          <div class="ui-g-12">
                            <input  required name="password" type="password" ngModel autocomplete="off" placeholder="Contraseña" class="ui-inputtext ui-widget" feedback="false"/>
                          </div>
                          <div class="ui-g-6">
                            <button [disabled]="!f.valid" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue-btn">
                              <span class="ui-button-text ui-c">
                                <img src="../../../../assets/layout/images/check.svg" alt="login" style="height: 13px;width: 16px;float: left;margin-top: 3px">
                                Login
                              </span>
                            </button>
                          </div>
                          <div class="ui-g-6 password-container">
                              <a routerLink="/auth/send-mail">Olvido Su Contraseña?</a>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<swal
  #successSwal
  title="Exito!"
  text="Bienvenido"
  type="success">
</swal>

<swal
  #warningSwal
  title="Error!"
  text="Ha Ocurrido Un Error"
  type="warning">
</swal>

<swal
  #loadingSwal
  title="Cargando..."
  >

  <div *swalPartial class="loading-center">
      <p-progressSpinner></p-progressSpinner>
  </div>
  
</swal>

