<div *ngIf="currentShipmentTypes" class="ui-g-12 ui-lg-12">
    <div class="shipment-types-card card">
        <div class="shipment-types-card-header">
          <h1>{{currentShipmentTypes.Description}}</h1>
        </div>
        <div class="shipment-types-card-content">
            <div class="shipment-types-detail">
              <ul>
                <li class="clearfix">
                  <h3> Id: {{currentShipmentTypes.Id}}</h3>
                </li>
              </ul>
            </div>
        </div>
    </div>


</div>

<swal
  #successSwal
  title="Exito!"
  text="Cargado Exitosamente"
  type="success">
</swal>

<swal
  #warningSwal
  title="Error!"
  text="Ha Ocurrido Un Error"
  type="warning">
</swal>

<swal
  #loadingSwal
  title="Cargando..."
  >

  <div *swalPartial class="loading-center">
      <p-progressSpinner></p-progressSpinner>
  </div>
  
</swal>