<div class="ui-g">
    
  <div class="ui-g-12">
      <div >
        <div class="ui-g" > 
          <h1 class="ui-g-4 ui-g-offset-4 ui-sm-4  text-center ">Lista de Categorias 
                  
          </h1>
          <button (click)="goToCreateCategories()" class="ui-g-4 ui-g-offset-4 ui-sm-4  "   type="button" label="Agregar" pButton icon="fa fa-plus"></button>
          
        </div>
          <div *ngIf="categoriesList" class="card ui-g">
            
              <div *ngFor="let categories of categoriesList" class="ui-g-4 ui-sm-12">
                  
                  <p-card title="{{categories.Id +' '+ categories.Name}}" styleClass="ui-card-shadow"> 
                      <p-header>
                          <div class="box">
                              
                              <div class="buttons">
                                  <button pButton pTooltip="Ver Categoria" tooltipPosition="top"  type="button"
                                      (click)="goToDetail(categories.Id)"
                                      icon="pi pi-search"></button>
                                  <button pButton pTooltip="Editar Categoria" tooltipPosition="top"  type="button"
                                      (click)="updateCategories(caretegories.Id)"
                                      icon="pi pi-pencil"></button>
                                  <button (click)="setCurrentUser(user)" pButton  type="button" icon="pi pi-trash"></button>
                              </div>
                          </div>
                      </p-header>
                  </p-card> 
              </div>

              
              
          </div>

          <p-card *ngIf="!userList || userList.length < 1" class="ui-g-12 text-center" title="no hay datos para mostrar"> 
                  
               
          </p-card>
      </div>
  </div>

  
</div>

<swal
#successSwal
title="Exito!"
[text]="swalText"
type="success">
</swal>

<swal
#warningSwal
title="Error!"
text="Ha Ocurrido Un Error"
type="warning">
</swal>

<swal
#loadingSwal
title="Cargando..."
>

<div *swalPartial class="loading-center">
    <p-progressSpinner></p-progressSpinner>
</div>

</swal>

<swal
#deleteSwal
title="Desea Eliminar Al Usuario?"
text="Esta Accion Es Permanente"
type="warning"
[showCancelButton]="true"
[focusCancel]="true"
(confirm)="delUser()">
</swal>