<body class="exception-body notfound-body">
    <div class="exception-container">
        <img src="../../../assets/layout/images/Logo_Cucorent.svg" alt="apollo-layout" />
        <h1>Not Found</h1>
        <p>
          Resource is not found.
        </p>
        <button (click)="goToMain()" type="button" class="ui-button blue-btn ui-widget ui-state-default ui-corner-all" style="border-radius:5px;padding:5px;height:40px;">
          <span class="ui-button-text">
              <img src="../../../assets/layout/images/back.svg" alt="login" style="height: 13px;width: 16px;float: left;margin: 3px">
              Ir a Pagina</span>
        </button>
    </div>
</body>